body{
  color: darkblue;
  background-color: #F7F4EA;
  font-family: "montserrat";
}
/*
this is the css for the header. should be the same on both pages*/

#water {
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

header{
  background-color: #72DAEA;
  color: #F7F4EA;
  position: fixed;
  top: 0;
  width: 100%;


}

nav{
  width: 100% ;
  font-size: 28px;
  height: 50px;
  border-bottom: 1px solid black;

}

.wrapper{
  width: 1000px;
  margin: 0 auto;
}

#left, #right{
  width: 50%;
  text-align: center;
}

#left{
  float: left;

}

#right{
  float: left;

}

ul{
  list-style-type: none;
}

li{
  display: inline;
  text-decoration: none;
}

a:visited{
  color: #F7F4EA;
}

a {
  text-decoration: none;
  color: #F7F4EA;
}

a:hover{
  color: darkblue;
}

/*this is the code for the main information section of the what page*/

main {
  width: 100%;
  margin-top: 200px;
}

#leftcolumn, #rightcolumn{
  width: 50%;
  text-align: center;
  float: left;
}

#cleanwater {
  height: 300px;
  margin-top: 18.72px;
}


#donate{
  border: 1px solid darkblue;
  width: 145px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: firebrick;
}

/*this is the code for the footer information section . should be the same on both pages*/

footer {
  clear: both;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

span {
  padding: 22px;
}

/*
this is the code for the media query section of the what page*/

@media all and (max-width: 960px) {
  .spanbye {
    display: none;
  }
  span {
    padding: 11px;
  }
  #leftcolumn{
    display: none;
  }
  #rightcolumn{
    width: 100%;
  }
}
