body{
  color: darkblue;
  background-color: #F7F4EA;
  font-family: "montserrat";
}
/*
this is the css for the header. should be the same on both pages*/

#water {
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

header{
  background-color: #72DAEA;
  color: #F7F4EA;
}

nav{
  width: 100% ;
  font-size: 28px;
  height: 50px;
  border-bottom: 1px solid black;
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
}

#left, #right{
  width: 50%;
  text-align: center;
}

#left{
  float: left;

}

#right{
  float: left;

}

ul{
  list-style-type: none;
}

li{
  display: inline;
  text-decoration: none;
}

a:visited{
  color: #F7F4EA;
}

a {
  text-decoration: none;
  color: #F7F4EA;
}

a:hover{
  color: darkblue;
}

/*this is the code for the main information section of the what page*/

main {
  width: 100%;
  margin-top: 50px;
}

#leftcolumn, #rightcolumn{
  width: 50%;
  text-align: center;
  float: left;
}

#cleanwater {
  height: 300px;
  margin-top: 18.72px;
}


#donate{
  border: 1px solid darkblue;
  width: 145px;
  margin-left: 160px;
  border-radius: 50px;
  background-color: firebrick;
}

footer {
  clear: both;
  text-align: center;
  padding-top: 50px;
}
